<ion-content>
  <div class="background-image"></div>
  <div class="content">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Inicia sesión</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <ion-list>
            <ion-item>
              <ion-input 
                label="Email" 
                labelPlacement="floating" 
                formControlName="email" 
                type="email"
                email
                errorText="Ingrese un Email válido">
              </ion-input>
            </ion-item>
            
            <ion-item>
              <ion-input 
                label="Contraseña" 
                labelPlacement="floating" 
                formControlName="password" 
                type="password">
              </ion-input>
            </ion-item>
          </ion-list>
          <div class="button-container">
            <ion-button  shape="round" expand="full" type="submit" [disabled]="loginForm.invalid">Iniciar sesión</ion-button>
          </div>
        </form>
      </ion-card-content>
      <div class="link-registro"><a routerLink="/acceso/register">Registrarme</a></div>
      
    </ion-card>
    
    
</div>
</ion-content>
