<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-card>

  <ion-card-header>
    <ion-card-subtitle>¡Hola!</ion-card-subtitle>
    <ion-card-title>{{usuario?.nombre}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    
    <!--Si el usuario tiene imagen-->
    <ion-avatar *ngIf="!usuario?.fotoPerfilUrl" class = "avatar">
      <img src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>

    <!--Si no existe una imagen-->
    <ion-avatar *ngIf="usuario?.fotoPerfilUrl" class = "avatar">
      <img [src]="usuario.fotoPerfilUrl" />
    </ion-avatar>

    <ion-list>
      <ion-item button detail="true">
        <ion-icon name="trophy-outline" slot = "start"></ion-icon>
        <ion-label>
          Retos
        </ion-label>
      </ion-item>
      <ion-item button detail="true">
        <ion-icon name="heart-outline" slot = "start"></ion-icon>
        <ion-label>
          Favoritos
        </ion-label>
      </ion-item>
      <ion-item button detail="true">
        <ion-icon name="help-outline" slot = "start"></ion-icon>
        <ion-label>
          Ayuda
        </ion-label>
      </ion-item>
      <ion-item button detail="true">
        <ion-icon name="chatbubbles-outline" slot = "start"></ion-icon>
        <ion-label>
          Comentarios
        </ion-label>
      </ion-item>
      <ion-item button detail="true" (click) = "mostrarReporte()">
        <ion-icon name="clipboard-outline" slot = "start"></ion-icon>
        <ion-label>
          Reporte de negocios
        </ion-label>
      </ion-item>
      <ion-item button detail="true" (click) = "editarInfo()">
        <ion-icon name="settings-outline" slot = "start"></ion-icon>
        <ion-label>
          Configuración de Perfil
        </ion-label>
      </ion-item>
      <ion-item class="cerrar-sesion" button detail="true" (click) = "cerrarSesion()">
        <ion-icon style="color: red;" name="log-out-outline" slot = "start"></ion-icon>
        <ion-label>
          Cerrar sesión
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
</ion-content>

