<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Carritos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="no-carts" *ngIf="noCarts">
    <h1>Parece que aún no tienes carritos</h1>
    <ion-icon name="cart" style="zoom:10.0;"></ion-icon>
  </div>

  <div *ngIf="loaded">
    <ion-card *ngFor="let carritoConProductos of carritos">
      <ion-card-header>
        <div class="header">
          <ion-grid>
            <ion-row>
              <ion-col size="10">
                <h1 [routerLink]="['/home/detalle-negocio', carritoConProductos.carrito.businessId]">
                  {{ carritoConProductos?.carrito.nombreNegocio }}
                </h1>
              </ion-col>
              <ion-col size="2">
                <ion-button fill="clear" (click)="eliminarCarrito(carritoConProductos.carrito.id)">
                  <ion-icon name="trash"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-card-header>
      
      <ion-card-content>
        <ion-list>
          <div class="producto">
            <ion-item *ngFor="let producto of carritoConProductos.productos">
              <ion-grid>
                <ion-row>
                  <ion-col size="3">
                    <ion-thumbnail>
                      <img [src]="producto.imagenUrl">
                    </ion-thumbnail>
                  </ion-col>
                  <ion-col size="3">
                    <h3>{{ producto?.nombreProducto }}</h3>
                  </ion-col>
                  <ion-col size="3">
                    <p id="cantidad">x{{producto?.cantidad}}</p>
                  </ion-col>
                  <ion-col size="3">
                    <p id="subtotal">MX${{ producto?.precioSubtotal }}</p>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </div>
        </ion-list>
          <div class="total">
            <ion-label>MX${{ carritoConProductos?.carrito.total }}</ion-label>
            <ion-button shape="round" (click) = "hacerPedido(carritoConProductos.carrito.businessId, carritoConProductos.carrito.id, carritoConProductos.carrito.total, carritoConProductos.carrito.nombreNegocio)">
              Pedir
            </ion-button>
          </div>   
      </ion-card-content>
    </ion-card>
  </div>
  
  <!--skeleton-->
  <div *ngIf="!loaded">
    <ion-card *ngFor="let item of [1,2,3,4,5]">
      <ion-card-header>
        <div class="header">
          <ion-grid>
            <ion-row>
              <ion-col size="10">
                <h1>
                  <ion-skeleton-text animated style="width: 60%; height: 20px;"></ion-skeleton-text>
                </h1>
              </ion-col>
              <ion-col size="2">
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-card-header>
      
      <ion-card-content>
        <ion-list>
            <div class="producto">
              <ion-item *ngFor="let item of [1,2,3]"> 
                <ion-grid>
                  <ion-row>
                    <ion-col size="3">
                      <ion-thumbnail>
                        <ion-skeleton-text animated></ion-skeleton-text>
                      </ion-thumbnail>
                    </ion-col>
                    <ion-col size="3">
                      <h3><ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text></h3>
                    </ion-col>
                    <ion-col size="3">
                      <p id="cantidad"><ion-skeleton-text animated style="width: 30%;"></ion-skeleton-text></p>
                    </ion-col>
                    <ion-col size="3">
                      <p id="subtotal"><ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text></p>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
            </div> 
        </ion-list>
          <div class="total">
            <ion-label><ion-skeleton-text animated style="width: 80px; height: 25px;"></ion-skeleton-text></ion-label>
          </div>   
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
