<ion-header>
  <ion-toolbar>
    <ion-title>Cambiar Email</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <form [formGroup]="cambioEmailForm" (ngSubmit)="cambiarEmail()">
      <ion-item>
        <ion-input 
          labelPlacement="floating" 
          label="Nuevo Email" 
          type ="email"
          email 
          helperText="Ingresa un email válido"
          errorText="Email inválido" 
          formControlName="nuevoEmail" 
          required
          [ngModel]="userEmail"
          >
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input 
          type = "password"
          label="Contraseña de la cuenta"
          labelPlacement="floating"
          helperText="Ingrese su contraseña actual" 
          formControlName="contra" 
          required></ion-input>
      </ion-item>

      <ion-button expand = "full" type="submit" [disabled]="!cambioEmailForm.valid">Actualizar Email</ion-button>
    </form>
</ion-card>
</ion-content>
