<ion-header>
  <ion-toolbar>
    <ion-title>Cambiar contraseña</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <form [formGroup]="cambioContrasenaForm" (ngSubmit)="cambiarContra()">
      <ion-item>
        <ion-label position="floating">Contraseña Actual</ion-label>
        <ion-input type = "password" formControlName="contraActual" placeholder="Contraseña actual" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nueva Contraseña</ion-label>
        <ion-input type = "password" formControlName="nuevaContra" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Confirme Contraseña</ion-label>
        <ion-input type = "password" formControlName="confirmarNuevaContra" required></ion-input>
      </ion-item>

      <ion-button expand = "full" type="submit" [disabled]="!cambioContrasenaForm.valid">Cambiar contraseña</ion-button>
    </form>
</ion-card>
</ion-content>