
.contenedor{
    margin: 15px;
}
.negocio{

    h3{
        margin-left: 5px;
        font-size: small;
        //font-weight: bold;
    }
    ion-thumbnail{
        --border-radius: 15px;
        //--margin-right: 5px;    
    }
}